 
body{
    background-image: linear-gradient(to right, rgb(86, 49, 250), rgb(123, 145, 237));
    color: whitesmoke;
}

header{
    font-family:'titillum web', sans-serif ;
    margin-top: 25px;
    font-size: 65px;
    text-align: center;

}

h1{
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
}

h2{
    font-size: 25px;
    text-align: center;
} 

#NY {
    height: 250px;
    width: 250px;
    margin: 50px;
    padding-left: 200px;
    align-items: center;
    
}

#LA {
    height: 250px;
    width: 250px;
    margin: 50px;
    align-items: center;
    
}

#HU {
    height: 250px;
    width: 250px;
    margin: 50px;
    align-items: center;
}
