<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="text"> 
            <div>
                <header>Budget Living</header>
            </div>
      
            <h1>Find out if you can afford to live here!</h1>
      
      <h2>
        <form>
            <input type="text" name="nickname" placeholder="Enter your nickname"/>
            <input type="submit" value="Submit"/>
        </form>
     </h2>
        </div>
    </body>
</html>
